<div class="container">
    <footer class="py-3 mt-4">
        <p class="text-center fw-bolder text-light">MİNECRAFT'I TAKİP ET</p>
        <ul class="nav justify-content-center pb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-3 ">
                    <img src="~/img/youtube.png" alt="Icon" class="icon-class" width="35" height="35">
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 ">
                    <img src="~/img/instagram.png" alt="Icon" class="icon-class" width="35" height="35">
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 ">
                    <img src="~/img/facebook.png" alt="Icon" class="icon-class" width="35" height="35">
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 ">
                    <img src="~/img/twitter.png" alt="Icon" class="icon-class" width="35" height="35">
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 ">
                    <img src="~/img/reddit.png" alt="Icon" class="icon-class" width="35" height="35">
                </a>
            </li>
        </ul>
    </footer>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-3 border-top">
        <p class="col-md-4 mb-0 text-light">© 2024 Company, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="d-block mx-auto mb-4" src="~/img/favicon.png" alt="" width="72" height="57">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
        </ul>
    </footer>
</div>