<!DOCTYPE html>
<html lang="en">
@{ await Html.RenderPartialAsync("_Head");}
<body class="my-0" style="background-color: #FF0000;">
    @RenderBody()
    @{ await Html.RenderPartialAsync("_Scripts");}
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>