<!DOCTYPE html>
<html lang="en">
@{ await Html.RenderPartialAsync("_Head");}
<body class="my-0 bg-dark">
    @{ await Html.RenderPartialAsync("_Header");}
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @{ await Html.RenderPartialAsync("_Footer");}
    @{ await Html.RenderPartialAsync("_Scripts");}

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>