<div class="container-fluid">
    <table class="table border-0 my-2">
        <tr>
            <td rowspan="3">
                <a asp-controller="Home" asp-action="Link_Alert">
                    <img class="img-fluid" src="~/img/ads_1.jpeg" width="450px" height="1250px"/>
                </a>
            </td>
            <td colspan="2">
                <div class="card bg-dark text-light border border-light">
                    <img src="~/img/comm_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center">
                            <b>Topluluk Meclisi</b>
                            <br />
                            Olağanüstü Minecraft Topluluğundan en son haberlerin yer aldığı bir derleme
                            <br />
                            <a class="text-decoration-underline" asp-controller="Home" asp-action="Link_Alert2"> 
                                <p class="text-center">https://minecraft/haberler</p>
                            </a>
                        </p>
                    </div>
                </div>
            </td>
            <td rowspan="3">
                <a asp-controller="Home" asp-action="Link_Alert">
                    <img class="img-fluid" src="~/img/ads_2.jpeg" width="450px" height="1400px" />
                </a>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <div class="card bg-dark text-light border border-light" >
                    <img src="~/img/comm_21.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center">
                            <b>Yeni Başlayanlar İçin İpuçları</b>
                            <br />
                            İçerik üretiminden arkadaşlarınla oynamaya kadar her şey.
                            <br />
                            <a class="text-decoration-underline" asp-controller="Home" asp-action="Link_Alert2">
                                <p class="text-center">https://minecraft/ipuclari</p>
                            </a>
                        </p>
                    </div>
                </div>
            </td>
            <td rowspan="2">
                <div class="card bg-dark text-light border border-light" >
                    <img src="~/img/comm_22.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center">
                            <b>Geri Bildirim Göndermek İçin Yapmanız Gerekenler</b>
                            <br />
                            Minecraft’a eklenmesini istediğiniz şeyleri ekibimizle paylaşın.
                            <br />
                            <a class="text-decoration-underline" asp-controller="Home" asp-action="Link_Alert2">
                                <p class="text-center">https://minecraft/share</p>
                            </a>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>

        </tr>
    </table>
</div>