@{
    ViewData["Title"] = "Minecraft";
    ViewData["Css"] = "~/css/Index.css";
}

<div class="px-4 py-5 my-5 text-center main-div">
    <img class="d-block mx-auto mb-4" src="~/img/favicon.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-light mt-5">WELCOME MINECRAFT HEROOO</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mt-4 text-light">
            Cihazına İndir ve Oyna ya da Tarayıcıda Hızla Eriş, Eğlencenin Tadını Çıkar!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-2">
            <a href="~/files/SetupGame.txt" download="SetupGame.txt" class="btn btn-success btn-lg px-4 gap-3">İndir</a>
            <a href="#" class="btn btn-outline-light btn-lg px-4">Tarayıcıda Oyna</a>
        </div>
    </div>
</div>
<div class="container my-4" id="section1">
    <div class="row my-5">
        <h3 class="text-light text-center">OYUNLARIMIZI KEŞFET</h3>
    </div>
    <div class="row g-3">
        
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft</h5>
                    <p class="card-text text-secondary">Sandbox Hayatta Kalma, Macera</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft Dungeons</h5>
                    <p class="card-text text-secondary">Dungeon Crawl, Aksiyon RPG</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft Legends</h5>
                    <p class="card-text text-secondary">Aksiyon RPG, Strateji</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft Education</h5>
                    <p class="card-text text-secondary">Eğitim, Hayatta Kalma, Macera</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>