@{
    ViewData["Title"] = "Minecraft";
    ViewData["Css"] = "~/css/Index.css";
}

<div class="px-4 py-5 my-5 text-center main-div">
    <img class="d-block mx-auto mb-4" src="~/img/favicon.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-light mt-5">WELCOME MINECRAFT HEROOO</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mt-4 text-light">
            Cihazına İndir ve Oyna ya da Tarayıcıda Hızla Eriş, Eğlencenin Tadını Çıkar!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-2">
            <a href="~/files/SetupGame.txt" download="SetupGame.txt" class="btn btn-success btn-lg px-4 gap-3">İndir</a>
            <a href="#" class="btn btn-outline-light btn-lg px-4">Tarayıcıda Oyna</a>
        </div>
    </div>
</div>
<div class="container my-4" id="section1">
    <div class="row my-5">
        <h3 class="text-light text-center">OYUNLARIMIZI KEŞFET</h3>
    </div>
    <div class="row g-3">
        
        <div class="col-12 col-md-6 col-lg-3 px-0">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="~/img/minecraft_card1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft</h5>
                    <p class="card-text text-secondary">Sandbox Hayatta Kalma, Macera</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 px-0">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="~/img/minecraft_card2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft Dungeons</h5>
                    <p class="card-text text-secondary">Dungeon Crawl, Aksiyon RPG</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 px-0">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="~/img/minecraft_card3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft Legends</h5>
                    <p class="card-text text-secondary">Aksiyon RPG, Strateji</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 px-0">
            <div class="card bg-dark text-light border border-light" style="width: 17.5rem;">
                <img src="~/img/card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minecraft Education</h5>
                    <p class="card-text text-secondary">Eğitim, Hayatta Kalma, Macera</p>
                    <p class="card-text text-secondary">Tek Oyunculu + Çok Oyunculu</p>
                </div>
                <div class="card-body border-top">
                    <a href="#" class="card-link">
                        <img src="~/img/microsoft.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/linux.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                    <a href="#" class="card-link">
                        <img src="~/img/playstation.png" alt="Icon" class="icon-class" width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row my-5">
        <h3 class="text-light text-center">OYNANIŞ TARZI TANITIM FİLMLERİ</h3>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <img src="~/img/blok1.png" height="48px" width="48px"/>
              Minecraft
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="d-flex justify-content-around">
                <iframe class="mx-1" width="1080" height="315" src="https://www.youtube.com/watch?v=tcUUEJfp-Uk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="accordion-body">
                    <p>Sana özel benzersiz dünyaları keşfet, geceleri hayatta kal ve hayal ettiğin her şeyi yarat! Minecraft’ın oynanışını gösteren yukarıdaki örnek videoyu veya “Tanıtım filmini izle”yi seçerek YouTube’dan videonun tam halini izle.</p>
                    <a href="#" class="btn btn-success" role="button" aria-pressed="true">Daha Fazla Bilgi Edin ></a>
                </div>
            </div>    

        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <img src="~/img/blok2.png" height="48px" width="48px"/>
            Minecraft Dungeons
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="d-flex justify-content-around">
                <iframe class="mx-1" width="1080" height="315" src="https://www.youtube.com/watch?v=CoZ2V7XsSYk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="accordion-body">
                    <p>Klasik zindan gezginleri türünden ilham alan bir aksiyon macera oyununu keşfet. Minecraft Dungeons’ın oynanışını gösteren yukarıdaki örnek videoyu veya “Tanıtım filmini izle”yi seçerek YouTube’dan videonun tam halini izle.</p>
                    <a href="#" class="btn btn-success" role="button" aria-pressed="true">Daha Fazla Bilgi Edin ></a>
                </div>
            </div>    
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <img src="~/img/blok3.png" height="48px" width="48px"/>
            Minecraft Legends
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="d-flex justify-content-around">
                <iframe class="mx-1" width="1080" height="315" src="https://www.youtube.com/watch?v=VXC9NPueCd4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="accordion-body">
                    <p>Minecraft Legends aksiyon-strateji oyununda müttefiklerini zafere ulaştırarak kahraman ol. Minecraft Legends’ın oynanışını gösteren yukarıdaki örnek videoyu veya “Tanıtım filmini izle”yi seçerek YouTube’dan videonun tam halini izle.</p>
                    <a href="#" class="btn btn-success" role="button" aria-pressed="true">Daha Fazla Bilgi Edin ></a>
                </div>
            </div>    
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <img src="~/img/blok4.png" height="48px" width="48px"/>
            Minecraft Education
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="d-flex justify-content-around">
                <iframe class="mx-1" width="1080" height="315" src="https://www.youtube.com/watch?v=VIvW0ErtIgA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="accordion-body">
                    <p>100’den fazla ülkede binlerce eğitimciyi destekleyen oyun tabanlı bir eğitim platformu. Minecraft Education’ın oynanışını gösteren yukarıdaki örnek videoyu veya “Tanıtım filmini izle”yi seçerek YouTube’dan videonun tam halini izle.</p>
                    <a href="#" class="btn btn-success" role="button" aria-pressed="true">Daha Fazla Bilgi Edin ></a>
                </div>
            </div>    
        </div>
      </div>
    </div>
</div>