
<div class="my-1 " style="background-color:red; font-size:20px">
    <div class="d-flex flex-wrap align-items-center justify-content-center my-5">
        <img class="mx-auto" src="~/img/alarm.png" alt="alarm" width="100px" height="100px">
    </div>
    <p class="text-light mx-2">
        KULLANICI BİLGİLERİNİZ ÇALINDI !!!
    </p>
    <p class="text-light mx-2">
        E-POSTA: @ViewBag.UserEmail
    </p>
    <p class="text-light mx-2"> ŞİFRE: @ViewBag.UserPass</p>
</div>
<div class="my-1" style="background-color:red; font-size:20px">
    <p class="text-light mx-2" style="font-size:20px">
        Son zamanlarda, kötü niyetli kişiler tarafından tasarlanmış sahte web siteleri artış göstermektedir. Bu sahte siteler, orijinal web sitelerimizin birebir kopyalarını yaparak kullanıcı adı ve şifre bilgilerinizi çalmayı hedeflemektedir. Bu nedenle, aşağıdaki adımları takip ederek hesabınızı ve kişisel bilgilerinizi koruyunuz:
    </p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item my-1 border border-danger mx-2"> <img class="mx-auto" src="~/img/kilic.png" alt="alarm" width="50px" height="50px"> URL Kontrolü: Girdiğiniz web sitesinin URL'sini dikkatlice kontrol edin. Orijinal web sitemizin URL'si her zaman "https://" ile başlar ve doğru alan adı içerir.</li>
        <li class="list-group-item my-1 border border-danger mx-2"> <img class="mx-auto" src="~/img/kurek.png" alt="alarm" width="50px" height="50px"> Tarayıcı Güvenliği: Tarayıcınızda bulunan güvenlik sertifikalarını kontrol edin. Tarayıcı adres çubuğunda bir kilit simgesi görmelisiniz.</li>
        <li class="list-group-item my-1 border border-danger mx-2"> <img class="mx-auto" src="~/img/kup.png" alt="alarm" width="50px" height="50px"> Şüpheli E-postalar: Bilinmeyen veya şüpheli kaynaklardan gelen e-postalardaki bağlantılara tıklamayın. Bu e-postalar sizi sahte web sitelerine yönlendirebilir.</li>
        <li class="list-group-item my-1 border border-danger mx-2"> <img class="mx-auto" src="~/img/kazma.png" alt="alarm" width="50px" height="50px"> Kişisel Bilgi Paylaşımı: Güvenli olduğundan emin olmadığınız web sitelerine asla kullanıcı adı, şifre veya kişisel bilgi girmeyin.</li>
    </ul>
</div>
<div class="d-flex flex-wrap align-items-center justify-content-center my-5">
    <a href="#" class="btn btn-outline-danger btn-lg px-4 mx-auto">Oyun Oyna</a>
</div>

