@model Tubitak_4007_Project.Models.User
@{
    ViewData["Title"] = "Minecraft";
    ViewData["Css"] = "~/css/SignIn.css";
}

    <form method="post"  class="mx-auto my-5" asp-action="SignIn" asp-controller="Authentication">
        <h3>Giriş Yap</h3>
        <label for="username">E-posta</label>
        <input asp-for="userEmail" type="text" id="username">
        <span asp-validation-for="userEmail" class="text-danger"></span>
        <label for="password">Şifre</label>
        <input asp-for="userPassword" type="password" id="password">
        <span asp-validation-for="userPassword" class="text-danger"></span>
        <input type="submit" class="signin-button" value="Giriş Yap">
    </form>
